<table class="table">
    <thead>
        <tr>
            <th>Course</th>
            <th>Institution</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>{{ course.course }}</td>
            <td>{{ course.institution }}</td>
            <td>{{ course.start }}</td>
            <td>{{ course.end }}</td>
            <td class="text-right">
                <a href="{{ path('course_edit', {'id': course.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
