<table class="table">
    <thead>
        <tr>
            <th>JobTitle</th>
            <th>Employer</th>
            <th>Start</th>
            <th>End</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for employment in employments %}
        <tr>
            <td>{{ employment.jobTitle }}</td>
            <td>{{ employment.employer }}</td>
            <td>{{ employment.start }}</td>
            <td>{{ employment.end }}</td>
            <td>{{ employment.city }}</td>
            <td class="text-right">
                <a href="{{ path('employment_edit', {'id': employment.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="10">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
