<html>
    <head>
        <title>Resume - {{ resume.slug }}</title>

        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style>
* {
    font-family: 'Noto Sans JP', sans-serif;
}
@page {
    margin: 0;
}
body {
    -webkit-print-color-adjust: exact !important;
}
.left-col {
    padding: 70px;
}
.right-col {
    color: #fff;
    min-height: 200%;
    padding: 150px 50px 50px 50px;
    background-color: {{ resume.color }};
}
a {
    color: #333;
    text-decoration: underline;
}
a:hover {
    color: #000;
}
.right-col a {
    color: #fff;
    text-decoration: underline;
}
.right-col a:hover {
    color: #999;
}
.bg-white {
    background-color: #fff;
}
.bg-grey {
    background-color: #9d9d9d;
}
.profile-image {
    height: 90px;
    margin-right: 20px;
}
.progress {
    height: 10px;
}
.text-block {
    page-break-inside: avoid;
}
</style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row" style="height:100%">
                <div class="col-8 left-col">
                    <div class="mb-5">
                        {% if resume.profileImage %}
                        <img class="img-thumbnail float-left profile-image" src="{{ path('resume_image', {'id':resume.id}) }}">
                        {% endif %}

                        <h1>{{ resume.firstName }} {{ resume.lastName }}</h1>
                        {{ resume.jobTitle }}
                    </div>

                    <div class="mb-5">
                        <h2>Profile</h2>
                        <p>{{ resume.professionalSummary|markdown }}</p>
                    </div>

                    <div class="mb-5">
                        <h2>Employment History</h2>
                        {% for employment in resume.employments %}
                        <div class="text-block">
                            <p><b>{{ employment.jobTitle }}{% if employment.employer %} at {{ employment.employer }}{% endif %}</b>
                            <br><span class="text-muted">
                                {{ employment.city }}
                                <br>{{ employment.start }} - {{ employment.end }}
                            </span>
                            </p>
                            <p>{{ employment.description|markdown }}</p>
                        </div>
                        {% endfor %}
                    </div>

                    {% if resume.educations|length > 0 %}
                    <div class="mb-5">
                        <h2>Education</h2>
                        {% for education in resume.educations %}
                        <div class="text-block">
                            <p><b>{{ education.degree }}, {{ education.school }}</b>
                            <br><span class="text-muted">{{ education.start }} - {{ education.end }}</span>
                            </p>
                            <p>{{ education.description|markdown }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="mb-5 text-block">
                        <h2>References</h2>
                        {% for reference in resume.references %}
                        <p><b>{{ reference.fullName }} from {{ reference.company }}</b>
                        <br><a href="mailto:{{ reference.email }}">{{ reference.email }}</a> | {{ reference.phone }}</p>
                        </p>
                        {% else %}
                        <p>References available upon request</p>
                        {% endfor %}
                    </div>

                    {% if resume.courses|length > 0 %}
                    <div class="mb-5 text-block">
                        <h2>Courses</h2>
                        {% for course in resume.courses %}
                        <p><b>{{ course.course }}, {{ course.institution }}</b>
                        <br><span class="text-muted">{{ course.start }} - {{ course.end }}</span>
                        </p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="col-4 right-col">
                    <div class="mb-5">
                        <div class="mb-3">
                            <p class="h4">Details</p>
                            <p>{{ resume.street }}, {{ resume.city }}, {{ resume.postalCode }}
                            <br>{{ resume.country }}
                            <br>{{ resume.phone }}
                            <br><a href="mailto:{{ resume.email }}">{{ resume.email }}</a>
                            </p>
                        </div>

                        <div class="mb-3">
                            <p class="h6 text-muted">Nationality</p>
                            {{ resume.nationality }}
                        </div>

                        <div class="mb-3">
                            <p class="h6 text-muted">Driving License</p>
                            {{ resume.drivingLicense }}
                        </div>

                        <div class="mb-3">
                            <p class="h6 text-muted">Date / Place of birth</p>
                            <p>{{ resume.dateOfBirth }}
                            <br>{{ resume.placeOfBirth }}
                            </p>
                        </div>
                    </div>

                    <div class="mb-5">
                        <p class="h4">Links</p>
                        {% for link in resume.links %}
                        <a target="_open" href="{{ link.link }}">{{ link.label }}</a><br>
                        {% endfor %}
                    </div>

                    <div class="mb-5 text-block">
                        <p class="h4">Skills</p>
                        {% for skill in resume.skills %}
                        {{ skill.skill }}
                        <div class="progress bg-grey mb-3">
                            <div class="progress-bar bg-white" style="width:{{ skill.progress }}%" role="progressbar" aria-valuenow="{{ skill.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="mb-5 text-block">
                        <p class="h4">Hobbies</p>
                        <p>{{ resume.hobbies|markdown }}</p>
                    </div>

                    <div class="mb-5 text-block">
                        <p class="h4">Languages</p>
                        {% for language in resume.languages %}
                        {{ language.language }}
                        <div class="progress bg-grey mb-3">
                            <div class="progress-bar bg-white" style="width:{{ language.progress }}%" role="progressbar" aria-valuenow="{{ language.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
