<table class="table">
    <thead>
        <tr>
            <th>School</th>
            <th>Degree</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for education in educations %}
        <tr>
            <td>{{ education.school }}</td>
            <td>{{ education.degree }}</td>
            <td>{{ education.start }}</td>
            <td>{{ education.end }}</td>
            <td class="text-right">
                <a href="{{ path('education_edit', {'id': education.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="10">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
