<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Label</th>
            <th>Link</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for link in links %}
        <tr>
            <td>{{ link.id }}</td>
            <td>{{ link.label }}</td>
            <td>{{ link.link }}</td>
            <td>{{ link.createdAt ? link.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ link.updatedAt ? link.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>
                <a href="{{ path('link_show', {'id': link.id}) }}">show</a>
                <a href="{{ path('link_edit', {'id': link.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
