<table class="table">
    <thead>
        <tr>
            <th>FullName</th>
            <th>Company</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for reference in references %}
        <tr>
            <td>{{ reference.fullName }}</td>
            <td>{{ reference.company }}</td>
            <td>{{ reference.phone }}</td>
            <td>{{ reference.email }}</td>
            <td>
                <a href="{{ path('reference_edit', {'id': reference.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
